<securityInterceptor>
  <id>348bad00:19af83b1db8:-7feb</id>
  <name>interceptor</name>
  <className>org.geoserver.security.filter.GeoServerSecurityInterceptorFilter</className>
  <allowIfAllAbstainDecisions>false</allowIfAllAbstainDecisions>
  <securityMetadataSource>geoserverMetadataSource</securityMetadataSource>
</securityInterceptor>