<?xml version="1.0" encoding="utf-8"?>
  <configuration>
    <system.webServer>
      <rewrite>
        <outboundRules>
          <rule name="Add CORS Header" preCondition="NoCORSHeader">
            <match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
            <conditions logicalGrouping="MatchAny">
              <add input="{HTTP_ORIGIN}" pattern="^http://localhost:5173$" />
              <add input="{HTTP_ORIGIN}" pattern="^http://192\.168\.1\.3:8090$" />
            </conditions>
            <action type="Rewrite" value="{C:0}" />
          </rule>
          <preConditions>
            <preCondition name="NoCORSHeader">
              <add input="{RESPONSE_Access_Control_Allow_Origin}" pattern=".*" negate="true" />
            </preCondition>
          </preConditions>
        </outboundRules>
      </rewrite>

      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Methods" value="GET, OPTIONS" />
          <add name="Access-Control-Allow-Headers" value="Content-Type" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </configuration>